<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Project Managment App</h1>
    <p class="lead text-muted">
      Something short and leading about the collection below—its contents, the
      creator, etc. Make it short and sweet, but not too short so folks don't
      simply skip over it entirely.
    </p>
    <p>
      <a href="/register" class="btn btn-primary my-2">Try for free</a>
    </p>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              style="height: 225px; width: 100%; display: block"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZB5SrZsa18VII7DoPQ34x_vsYFeCgW1PzTA&usqp=CAU"
              data-holder-rendered="true"
            />
            <div class="card-body">
              <p class="card-text">
                Angular
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/800px-Typescript_logo_2020.svg.png"
              data-holder-rendered="true"
              style="height: 225px; width: 100%; display: block"
            />
            <div class="card-body">
              <p class="card-text">
          TypeScript
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png"
              data-holder-rendered="true"
              style="height: 225px; width: 100%; display: block"
            />
            <div class="card-body">
              <p class="card-text">
             RxJS
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
