<div class="dialog"><h1 mat-dialog-title>{{'Title'| translate}}</h1>
    <div mat-dialog-content class="descr">


        <textarea name="" id="" cols="30" rows="1" matInput [(ngModel)]="data.title"></textarea>
<textarea name="" id="" cols="30" rows="2" matInput [(ngModel)]="data.description"></textarea>

        <!-- <input type="text" cols = '40' matInput [(ngModel)]="data.description"> -->
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">{{'cancel' | translate}}</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
    </div></div>
